@model IEnumerable<Service_Academy1.Models.ProgramsModel>

@{
    ViewData["Title"] = "Program Catalog Page";
}

@section Scripts {
    <script src="~/js/HomeScript/ProgramCatalogScript.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/HomeStyle/ProgramCatalogStyle.css">
}
<div class="container">
    <h1>Program/Training Catalog</h1>

    <section class="layout">
        <aside class="sidebar">
            <h2>
                <img src="../Images/grid.png" alt="Subjects Icon" class="icon">
                Subjects
            </h2>
            <ul id="subject-list">
                <li data-category="BISIG">BatStateU Inclusive Social Innovation for Regional Growth (BISIG)</li>
                <li data-category="LEAF">
                    Livelihood and Other Entrepreneurship related on Agri-Fisheries (LEAF)
                </li>
                <li data-category="ENRCPR">
                    Environment and Natural Resources Conservation, Protection and
                    Rehabilitation
                </li>
                <li data-category="SAEI">Smart Analytics for Engineering Innovation</li>
                <li data-category="BINADI">Adopt-A-Municipality / Social Development Through BINADI Implementation</li>
                <li class="hidden" data-category="CO">Community Outreach</li>
                <li class="hidden" data-category="TVET">Technical-Vocational Education And Training (TVET)</li>
                <li class="hidden" data-category="TTAU">Technology Transfer, And Adoption / Utilization</li>
                <li class="hidden" data-category="TAAS">Technical Assistance And Advisory Services</li>
                <li class="hidden" data-category="PESODEV">
                    Parents' Empowerment Thru Social Development
                    (PESODEV)
                </li>
                <li class="hidden" data-category="GED">Gender And Development</li>
                <li class="hidden" data-category="DRRMDPR">
                    Disaster Risk Reduction And Management And Disaster
                    Preparedness And Response / Climate Change Adoption (DRRM and DPR / CCA)
                </li>
                <li id="show-more-item"><a href="#" id="show-more">Show More</a></li>
                <li id="show-less-item" class="hidden"><a href="#" id="show-less">Show Less</a></li>
            </ul>
        </aside>
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "BISIG" })" class="card-link">
                                    <!--NO CHANGES MUST RETAIN SAME WITH OTHER -->
                                    <img src="@Url.Content("~/Images/BISIG.jpg")" alt="BISIG"> <!--NO CHANGES MUST RETAIN-->
                                    <h5 class="card-title">BatStateU Inclusive Social Innovation for Regional Growth (BISIG)</h5> <!--NO CHANGES MUST RETAIN-->
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_BISIG"]</span>
                                    </i> 
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_BISIG"]</span>
                                    </i> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "LEAF" })" class="card-link">
                                    <img src="@Url.Content("~/Images/LEAF.jpg")" alt="ENCPR">
                                    <h5 class="card-title">Livelihood and Other Entrepreneurship related on Agri-Fisheries (LEAF)</h5>
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_LEAF"]</span>
                                    </i>
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_LEAF"]</span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "Environment" })" class="card-link">
                                    <img src="@Url.Content("~/Images/ENRCPR.jpg")" alt="ENCPR">
                                    <h5 class="card-title">Environment and Natural Resources Conservation,Protection and Rehabilitation</h5>
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_Environment"]</span>
                                    </i>
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_Environment"]</span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "SAEI" })" class="card-link">
                                    <img src="@Url.Content("~/Images/SAEI.png")" alt="SAEI">
                                    <h5 class="card-title">Smart Analytics for Engineering Innovation</h5>
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_SAEI"]</span>
                                    </i>
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_SAEI"]</span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "BINADI" })" class="card-link">
                                    <img src="@Url.Content("~/Images/BIDANI.png")" alt="BIDANI">
                                    <h5 class="card-title">Adopt-A-Municipality / Social Development Through BINADI Implementation</h5>
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_BINADI"]</span>
                                    </i>
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_BINADI"]</span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "Outreach" })" class="card-link">
                                    <img src="@Url.Content("~/Images/CO.jpg")" alt="CO">
                                    <h5 class="card-title">Community Outreach</h5>
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_Outreach"]</span>
                                    </i>
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_Outreach"]</span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "TVET" })" class="card-link">
                                    <img src="@Url.Content("~/Images/TVET.jpg")" alt="TVET">
                                    <h5 class="card-title">Technical-Vocational Education And Training (TVET)</h5>
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_TVET"]</span>
                                    </i>
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_TVET"]</span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "TTAU" })" class="card-link">
                                    <img src="@Url.Content("~/Images/TTAU.jpg")" alt="TTAU">
                                    <h5 class="card-title">Technology Transfer, And Adoption / Utilization</h5>
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_TTAU"]</span>
                                    </i>
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_TTAU"]</span>
                                    </i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "TAAS" })" class="card-link">
                                    <img src="@Url.Content("~/Images/TAAS.jpg")" alt="TAAS">
                                    <h5 class="card-title">Technical Assistance And Advisory Services</h5>
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_TAAS"]</span>
                                    </i>
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_TAAS"]</span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "PESODEV" })" class="card-link">
                                    <img src="@Url.Content("~/Images/PESODEV.jpg")" alt="PESODEV">
                                    <h5 class="card-title">Parents' Empowerment Thru Social Development (PESODEV)</h5>
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_PESODEV"]</span>
                                    </i>
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_PESODEV"]</span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "GAD" })" class="card-link">
                                    <img src="@Url.Content("~/Images/GED.png")" alt="GAD">
                                    <h5 class="card-title">Gender And Development</h5>
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_GAD"]</span>
                                    </i>
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_GAD"]</span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="course-cards">
                            <div class="course-card">
                                <a href="@Url.Action("ProgramList", "ProgramList", new { agenda = "DisasterRisk" })" class="card-link">
                                    <img src="@Url.Content("~/Images/DRRMDPR.jpg")" alt="DRRMDPR">
                                    <h5 class="card-title">Disaster Risk Reduction And Management And Disaster Preparedness And Response / Climate Change Adoption (DRRM and DPR / CCA)</h5>
                                </a>
                                <div class="program-icons">
                                    <i class="fa-solid fa-graduation-cap" title="Active Programs">
                                        <span class="program-count">@ViewData["Active_DisasterRisk"]</span>
                                    </i>
                                    <i class="fa-solid fa-clock" title="Deactivated Programs">
                                        <span class="program-count">@ViewData["Deactivated_DisasterRisk"]</span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
