@model IEnumerable<Service_Academy1.Models.PostModel>
@{
    ViewBag.Title = "Discussion Forum";
    int programId = ViewBag.ProgramId;
}

@section Styles {
    <link rel="stylesheet" href="~/css/DiscussionStyle/DiscussionForumStyle.css">
}

<div class="breadcrumb">
    <a href="@Url.Action("ProgramStream", "ProjectLeader", new { programId = ViewBag.ProgramId })" class="breadcrumb-link"> Program Stream </a>
    <span class="separator">></span>
    <span>Discussion Forum</span>
</div>


<h2 class="discussion-title">Discussion Forum</h2>

@if (User.IsInRole("ProjectLeader") || User.IsInRole("Student"))
{
    <a href="@Url.Action("CreatePost", "Discussion", new { programId })" class="add-post-btn">Add a Post</a>
}

<table class="discussion-table">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Created By</th>
            <th>Msgs</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("PostPage", "Discussion", new { postId = post.PostId })" class="post-title">
                        @post.Title
                    </a>
                </td>
                <td>@post.Author?.UserName</td>
                <td>@post.Comments.Count()</td>
                <td>@post.CreatedDate.ToString("M/d h:mm tt")</td>
            </tr>
        }
    </tbody>
</table>
