@model Service_Academy1.Models.EvaluationResultsViewModel

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/TraineeScript/EvaluationFormScript.js"></script>
}

<h2>Evaluation Results for @Model.ProgramTitle</h2>
<p>Evaluated: @Model.EvaluatedCount / @Model.TotalTrainees (@Model.UnevaluatedCount unevaluated)</p>

<div class="card">
    <div class="card-body">
        <div class="Analysis-container">
            <h3>Analysis:</h3>
            <p>@ViewBag.Analysis</p>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="Impact Assessment-container">
            <h3>Impact Assessment:</h3>
            <p>@ViewBag.ImpactAssessment</p>
        </div>
    </div>
</div>

@if (Model != null)
{
    <canvas id="evaluationChart"
            data-labels='@Html.Raw(Json.Serialize(Model.AverageRatings.Select(ar => ar.Category)))'
            data-values='@Html.Raw(Json.Serialize(Model.AverageRatings.Select(ar => ar.AverageRating)))'>
    </canvas>
}
else
{
    <p>No evaluation data available for this program.</p>
}
